<div class="container">

  <div class="space-between-text"><span class="marked">{{ 'WHO_ARE_WE' | translate }}</span> {{ 'DESCRIPTION_1' | translate }}
    {{ 'DESCRIPTION_2' | translate }}
  </div>
  <div class="space-between-text"><span class="marked">{{ 'OUR_MISSION' | translate }}</span> {{ 'DESCRIPTION_3' | translate }}</div>
  <div class="space-between-text"><span class="marked">{{ 'WITH_US' | translate }}</span> {{ 'DESCRIPTION_4' | translate }}</div>
  <div><span class="marked">{{ 'BEST_PART' | translate }} </span> {{ 'DESCRIPTION_5' | translate }}</div>

</div>
