<div class=" container-for-services">
  <h2 class="title-for-services">{{ 'HOME_SEARCH' | translate }}</h2>
  <p class="title-for-services">{{'HOME_SEARCH_TITLE_1' | translate }} </p>
</div>

<div class="container">
  <div>
    <p>{{ 'HOME_SEARCH_DESCRIPTION_1' | translate }}</p>
    <p>{{ 'HOME_SEARCH_DESCRIPTION_2' | translate }}</p>

    <p class="marked">{{ 'SCOPE' | translate }}</p>
    <ul class="list-unstyled ">
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_1' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_2' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_3' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_4' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_5' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_6' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_7' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_8' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_9' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'HOME_SEARCH_SERVICE_10' | translate }}
      </li>
    </ul>

    <p class="marked"> {{ 'BOOKABLE_EXTRAS' | translate }}</p>
    <ul class="list-unstyled ">
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle"></i>
        {{ 'HOME_SEARCH_BOOKABLE_EXTRAS_1' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle"></i>
        {{ 'HOME_SEARCH_BOOKABLE_EXTRAS_2' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle"></i>
        {{ 'HOME_SEARCH_BOOKABLE_EXTRAS_3' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle"></i>
        {{ 'HOME_SEARCH_BOOKABLE_EXTRAS_4' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle"></i>
        {{ 'HOME_SEARCH_BOOKABLE_EXTRAS_5' | translate }}
      </li>
    </ul>
  </div>
</div>
