<div class="container ">
  <div class="marked hr-benefits-title">{{ 'BENEFITS_FOR_HR_TITLE' | translate }}</div>
  <div class="hr-benefits-container">
    <div class="item">
      <div class="title marked">{{ 'BENEFITS_FOR_HR_TITLE_1' | translate }}</div>
      <div class="description">
        {{ 'BENEFITS_FOR_HR_DESC_1' | translate }} </div>
    </div>

    <div class="item">
      <div class="title marked">{{ 'BENEFITS_FOR_HR_TITLE_2' | translate }}</div>
      <div class="description">
        {{ 'BENEFITS_FOR_HR_DESC_2' | translate }} </div>
    </div>


    <div class="item">
      <div class="title marked">{{ 'BENEFITS_FOR_HR_TITLE_3' | translate }}</div>
      <div class="description">{{ 'BENEFITS_FOR_HR_DESC_3' | translate }} </div>
    </div>

    <div class="item">
      <div class="title marked">{{ 'BENEFITS_FOR_HR_TITLE_4' | translate }}</div>
      <div class="description">
        {{ 'BENEFITS_FOR_HR_DESC_4' | translate }} </div>
    </div>

    <div class="item">
      <div class="title marked">{{ 'BENEFITS_FOR_HR_TITLE_5' | translate }}</div>
      <div class="description">
        {{ 'BENEFITS_FOR_HR_DESC_5' | translate }} </div>
    </div>

  </div>
</div>
