<div id="contact-us" class="contact-container">
  <div>
    <h2 class="marked">{{ 'CONTACT_US' | translate }}</h2>

    <div class="contact-card row">
      <div id="contact-form" class="col-12 col-sm-8 col-md-8">

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

          <div class="contact-el">
            <label for="name">{{ 'CONTACT_US_NAME' | translate }}*:</label>
            <input type="text" id="name" name="name" [(ngModel)]="user.name" required
                   #name="ngModel" [ngClass]="{ 'invalid': name.invalid && name.touched }">
            <div *ngIf="name.invalid && name.touched" class="error-msg">
              {{ 'Please enter your name' | translate }}
            </div>
          </div>

          <div class="contact-el">
            <label for="email">{{ 'CONTACT_US_EMAIL' | translate }}*:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required
                   #email="ngModel" [ngClass]="{ 'invalid': email.invalid && email.touched }">
            <div *ngIf="email.invalid && email.touched" class="error-msg">
              {{ 'Please enter a valid email' | translate }}
            </div>
          </div>

          <div class="contact-el">
            <label for="message">{{ 'CONTACT_US_MESSAGE' | translate }}:</label>
            <textarea id="message" name="message" [(ngModel)]="user.message" (input)="adjustHeight($event)">
            </textarea>
          </div>
          <button class="button" type="submit" [disabled]="!contactForm.form.valid">{{ 'Send' | translate }}</button>
          <p class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>
          <p class="success-msg" *ngIf="successMessage">{{ successMessage }}</p>
          <!--
          <p class="error-msg" *ngIf="contactForm.invalid && !contactForm.submitted">
            {{ 'Please fill in all required fields.' | translate }}
          </p>
          -->
        </form>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="contact-info-wrapper">
          <div class="contact-info">
            <div class="contact-element phone-number tooltip-wrapper" (click)="copy('+49 176 30430423', 0)">+49 176 30430423
              <span class="tooltip-text" [class.visible]="copiedIndex === 0">Copied!</span>
            </div>

            <div class="contact-element mail tooltip-wrapper" (click)="copy('info@1source-relocation.de', 1)">info&#64;1source-relocation.de
              <span class="tooltip-text" [class.visible]="copiedIndex === 1">Copied!</span>
            </div>

            <div class="contact-element address tooltip-wrapper" (click)="copy('Forsmannstrasse 10, 22303, Hamburg', 2)">Forsmannstrasse 10, 22303, Hamburg
              <span class="tooltip-text" [class.visible]="copiedIndex === 2">Copied!</span>
            </div>

            <div class="support24"><i class="bi bi-clock support24"> </i>24/7 Support</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
