.marked {
  padding-bottom: var(--pd30);
  text-align:center;
  font-size: 20px;
}

.container{
  padding-bottom: var(--pd60);

}

.contact-card {
  overflow: hidden;
  background-color: white;
  padding:30px;
  width:60%;
  margin: 0 auto;
  border: 1px solid #D3D3D3;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

label {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: var(--primary-color);
}

textarea {
  border: none;
  width: 80%;
  border-bottom: 1px solid  #D3D3D3;
  border-radius: 4px;
  height: 30px;
  resize: none;
}

input {
  border: none;
  width: 80%;
  border-bottom: 1px solid  #D3D3D3;
  border-radius: 4px;
  height: 30px;
}

.contact-el {
  padding-bottom: 15px;
}

button {
  float:left;
  padding: 5px 25px;
  border: none;
  color:white;
  background:var(--secondary-color)
 }

button:hover{
  background-color: var(--primary-color);
}

.contact-info-wrapper{
  display: flex;
  flex-direction: column;
  height:100%;

}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-element {
  padding-bottom: 16px;
}

.phone-number {
  font-weight:bold;
  font-size: 16px;
}

.mail{
  font-size: 14px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

}
.support24 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  margin-right:4px;
}

.address{
  font-size: 14px;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 0px;
  text-align: left;
}

.success-msg {
  color: var(--primary-color);
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}


@media (max-width: 768px) {
  .contact-card {
    width:100%;
  }

  #email-phone-address{
    padding-top: 30px;
  }
}
