.marked {
  padding-bottom: var(--pd30);
  text-align:center;
  font-size: 20px;
}

.contact-container{
  padding-bottom: var(--pd60);

}

.contact-card {
  overflow: hidden;
  background-color: white;
  padding:30px;
  width:700px;
  margin: 0 auto;
  border: 1px solid #D3D3D3;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

label {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: var(--primary-color);
}

textarea {
  border: none;
  width: 80%;
  border-bottom: 1px solid #D3D3D3;
  border-radius: 4px;
  height: 30px;
  resize: none;
  max-height: 66%;
}

input {
  border: none;
  width: 80%;
  border-bottom: 1px solid #D3D3D3;
  border-radius: 4px;
  height: 30px;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-color);
}

.contact-el {
  padding-bottom: 15px;
}

button {
  float:left;
  padding: 6px 40px;
  border: none;
  color:white;
  background:var(--secondary-color)
 }

button:hover{
  background-color: var(--primary-color);
}

.contact-info-wrapper{
  display: flex;
  flex-direction: column;
  height:100%;

}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-element {
  padding-bottom: 16px;
  cursor:pointer;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: -8px;
  right: 50%;
  color: var(--primary-color);
  padding: 2px 10px;
  border: 0.5px solid var(--secondary-color);
  border-radius: 8px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  transform: translateY(-50%);
  z-index: 10;
  font-weight:normal;

}

.tooltip-text.visible {
  opacity: 1;
}

.phone-number {
  font-weight:bold;
  font-size: 16px;
}

.mail{
  font-size: 14px;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

}
.support24 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  margin-right:4px;
}

.address{
  font-size: 14px;
}

.error-msg {
  color: #dc343b;
  font-size: 12px;
  margin-top: 0px;
  text-align: left;
}

.success-msg {
  color: var(--primary-color);
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}


@media (max-width: 780px) {
  .contact-card {
    width:100%;
  }

.contact-info-wrapper{
  padding-top:30px;
}

}
