<div class="contact-container">
<div class="container" style="padding-top: 2.5vw;">
<h2 id="contact-us">Contact us</h2>

   <div class="parent row">
     <div id="contact-form" class="col-lg-8 col-md-12 col-12">
     <form action="">
      <div class="contact-el">
        <label for="name">Name:</label>
        <input type= "text" id="name" name="name">
      </div>
      <div class="contact-el">
        <label for="e-mail">E-mail:</label>
        <input type="email" id="e-mail" name="e-mail">
      </div>
      <div class="contact-el">
        <label for="number">Phone number:</label>
        <input type="num" id="number" name="number">
      </div >
      <div class="contact-el">
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
      </div>
        <button type="submit">Send</button>
     </form>
     </div>
     <div id="email-phone-address" class="col-lg-4 col-md-12 col-12 background-banner">
      <div class="contact-element phone-number">+49 176 30430423</div>
      <div class="contact-element mail">info&#64;1source-relocation.de</div>
      <div class="contact-element address">Forsmannstrasse 10, 22303, Hamburg </div>
      <div class="support24"><i class="bi bi-clock support24" style="margin-right:4px;"> </i>24/7 Support </div>
     </div>
  </div>
</div>
</div>
