.marked{
  text-align:center;
  font-size: 20px;
}

.relocation-section{
  padding-top:var(--pd30);
  margin: 0 auto;
}

.info-container{
  padding-top:27px;
  padding-bottom: 15px;
}



hr {
  width: 30%;
  margin:auto;
  background-color: var(--secondary-color);
  height: 2px;
  border: none;
}
