<div class="our-services-container">
  <div class="container p-0">
  <div class=" marked">{{ 'OUR_SERVICES' | translate }}</div>
  <div class="row text-center all-services g-4">
    <div *ngFor="let service of services" class="col-12 col-md-4">
      <a [routerLink]="service.link" class="text-decoration-none text-dark">
      <div class="services-card">
        <div
          class=" d-flex flex-column flex-md-row align-items-center align-items-md-start text-md-start">
          <i [class]="service.icon" class="services-icon"></i>
          <div>
            <div class="service-title">{{ service.title | translate }}</div>
            <p class="card-text text-start text-md-start subtitle">{{ service.subtitle | translate }}</p>
            <p class="card-text text-start text-md-start">{{ service.description | translate }}</p>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
  </div>
</div>


