#our-company {
  text-align: center;
  color:white;
  padding-top:5vw;
  padding-bottom:5vw;

 }

span{
  font-weight: bold;
  color:#01648b;
  font-size:18px;
}

p {
  line-height: 30px;
}

.titel{
  color: #01648b;
  font-size:25px;
}

.container {
  padding-top:2.5vw;
}

.team{
  padding-top:2.5vw;
}
