<div class=" container-for-services">
  <h2 class="title-for-services">{{ 'IMMIGRATION' | translate }}</h2>
  <p class="title-for-services">{{'VISA_IMMIGRATION_TITLE' | translate }} </p>
</div>

<div class="container immigration-container">
  <div>
    <p>{{ 'VISA_IMMIGRATION_DESCRIPTION' | translate }}</p>
    <p class="marked">{{ 'OUR_SERVICES' | translate }}:</p>
    <ul class="list-unstyled">
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'COMPLETE_FORMS' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'SUPPORT_DOCUMENTS' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'COORDINATE_APPOINTMENTS' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'COORDINATE_SCHEDULE' | translate }}
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        {{ 'ASSIST_REGISTRATION' | translate }}
      </li>
    </ul>

    <p>
      {{ 'WORK_WITH_HR' | translate }} </p>

    <p class="marked ">{{ 'IMMIGRATION_ADVANTAGES' | translate }}</p>

    <div class="advantages">
      <div class="row text-center justify-content-center">
        <div class="col-md-3" *ngFor="let item of advantages">
          <div class="stat-item">
            <div class="icon-wrapper">
              <i class="bi " [ngClass]="item.icon"></i>
            </div>
            <p class="marked">{{ item.title }}</p>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <p>
        {{ 'SMALL_INFO' | translate }}
      </p>
      <p>
        {{ 'LEGAL_SERVICE_NOTE' | translate }} </p>
    </div>
  </div>
</div>
