
<img class="img-fluid w-100" src="assets/image/header.jpg">
<h2 id="immigration" class="background-banner">Visa & Immigration</h2>
<div class="container immigration-container">
<div>
  <p>The first step in the successful relocation of an employee is the residence permit or visa - the application for which can be a complicated and time-consuming process.</p>

    <p class="marked">We:</p>
    <ul class="list-unstyled">
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        Complete the necessary forms and applications according to your specifications
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        Support you in obtaining and forwarding all the necessary documents and papers
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        Coordinate appointments and accompany you to the authorities
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        Coordinate the time schedule
      </li>
      <li class="d-flex mb-2">
        <i class="bi bi-check-circle-fill"></i>
        Assist with the necessary local registration with the authorities
      </li>
    </ul>
<p>During the process, 1source-consulting employees work closely with the HR department and the relevant authorities.</p>

  <h3 class="advantages marked">Your Advantages</h3>
  <div>
    <p>Support from employees with many years of experience and excellent knowledge of all procedures; this saves you time and efort.</p>
    <p>These steps are part of the relocation process</p>
    <p>The risk of additional costs arising from missing documents and records is minimized.</p>
  </div>

  <div>
  <p class="marked">In accordance with § 2 paragraph 1 RDG, we do not provide legal services.</p>
  </div>
</div>
</div>
