#immigration {
  text-align: center;
  color:white;
  padding-top:2vw;
  padding-bottom:2vw;
}

i{
  color: var(--secondary-color);
  padding-right:10px;
 }

.immigration-container{
  padding-top: 4em;
  padding-bottom:4em;
}

.advantages{

  padding-top:2em;
}


