.icon-wrapper i {
  font-size: 3rem;
  color: var(--secondary-color);
  padding-right:10px;
}


i{
  color: var(--secondary-color);
  padding-right:10px;
 }


.immigration-container{
  padding-top: var(--pd30);
  padding-bottom: var(--pd30);

}

.advantages{
  padding-bottom:var(--pd30)
}


.list-unstyled{
  padding-left:30px;
}

@media (max-width: 1000px) {
.icon-wrapper i {
  font-size: 2rem;
}
}

