<div class=" container-for-services background-banner">
  <h2 class="title-for-services">{{ 'FAMILY_SUPPORT' | translate }}</h2>
  <p class="title-for-services">{{'FAMILY_SUPPORT_SERVICE_1' | translate }} </p>
</div>

<div class="container">

  <p>{{ 'FAMILY_SUPPORT_DESC_1' | translate }}
  </p>

  <p class="marked"><i class="bi bi-check-circle-fill"></i>{{ 'FAMILY_SUPPORT_SERVICE_2' | translate }}</p>
  <p>
    {{ 'FAMILY_SUPPORT_DESC_2' | translate }}
  </p>

  <p class="marked"><i class="bi bi-check-circle-fill"></i>
    {{ 'FAMILY_SUPPORT_SERVICE_3' | translate }}</p>
  <p>{{ 'FAMILY_SUPPORT_DESC_3' | translate }}
  </p>

  <p class="marked"><i class="bi bi-check-circle-fill"></i>
    {{ 'FAMILY_SUPPORT_SERVICE_4' | translate }}</p>
  <p>{{ 'FAMILY_SUPPORT_DESC_4' | translate }}
  </p>

</div>
