<div class="container ">
  <div class="marked our-values-title">{{ 'OUR_VALUES_TITLE' | translate }}</div>
  <div class="our-values-container">
  <div class="item">
    <div class="title marked">{{ 'OUR_VALUES_TITLE_1' | translate }}</div>
    <div class="description">
      {{ 'OUR_VALUES_DESC_1' | translate }} </div>
  </div>

  <div class="item">
    <div class="title marked">{{ 'OUR_VALUES_TITLE_2' | translate }}</div>
    <div class="description">
      {{ 'OUR_VALUES_DESC_2' | translate }} </div>
  </div>


    <div class="item">
      <div class="title marked">{{ 'OUR_VALUES_TITLE_3' | translate }}</div>
      <div class="description">{{ 'OUR_VALUES_DESC_3' | translate }} </div>
    </div>

    <div class="item">
      <div class="title marked">{{ 'OUR_VALUES_TITLE_4' | translate }}</div>
      <div class="description">
        {{ 'OUR_VALUES_DESC_4' | translate }} </div>
    </div>

    <div class="item">
      <div class="title marked">{{ 'OUR_VALUES_TITLE_5' | translate }}</div>
      <div class="description">
        {{ 'OUR_VALUES_DESC_5' | translate }} </div>
    </div>

  </div>
</div>
