a{
  text-decoration:none;
  color: white;
}

i {
  margin-right:4px;
  color: var(--secondary-color);
}

.contact-number {
  font-size:12px;
  color: var(--primary-color);

}

.contact-mail {
  font-size:12px;
  color: var(--primary-color);

}

.contact-btn{
  position: absolute;
  padding: 15px 30px;
  right:65px;
  top: -6px;
  color:white;
  text-transform: uppercase;
  display: inline-block;
  z-index: 13;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.contact-btn:hover {
}

#header {
  height: 90px;
  width: 100%;
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: white;
  transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
  border: 1px solid #E5EBEE;

}

.logo img {
  height:60px;
 }

#header.scrolled {
   height: 70px;
   padding-top: 0px;

 }
#header.scrolled .logo img {
   height: 50px;
   transition: height 0.4s ease-in-out;

 }

#header.scrolled .navigation-option {
   font-size: 18px;
   transition: height 0.4s ease-in-out;
 }

.logo {
  margin-left:60px;
}

.navbar-toggler{
  margin-right:60px;
}

.navbar-nav{
  margin-right:60px;
  color: black;
}

.navigation-option {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size:18px;
}

.navigation-option:hover {
  color: #7D7981;
}

.dropdown-menu{
  cursor:pointer;
}


.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.language-switcher {
  font-size: 12px;
  padding-right:20px;
}

.language-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 12px;
}

.lng-menu {
  min-width: 40px;
}

.language {
  font-size: 12px;
  color: #333;
}

@media (max-width: 992px) {

  .navbar-collapse {
    background-color: white;
    padding: 10px;
    width:100%;
    position:absolute;
    top: 70px;
  }


  .navbar-collapse .nav-link {
    color: black;
    padding-left:50px;
  }

  .navbar-collapse .nav-link:hover {
    color: lightgray;
  }
}
