<div id="header" class="background-banner ">
  <div class=" container">

    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between w-100">

      <div class="logo">
        <a href="#header">
          <img src="public/logo.png" alt="logo">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ms-auto gap-3">
          <a class="navigation-option nav-link">Our company</a>
          <a class="navigation-option nav-link" href="#our-services">Our services</a>
          <a class="navigation-option nav-link" href="#contact-us">Contact us</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="slogan container">
    <h2>Welcome to One-Source Relocation! </h2>
    <p>Your perfect partner for relocation and immigration services from Hamburg</p>
  </div>
</div>
