/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans', sans-serif  !important;
}

:root {
  --primary-color: #005483;
  --secondary-color: #0088bc;
  --background-secondary: #f7fcff;
  --pd60:60px;
  --pd30:30px;

}

.marked{
  font-weight: bold;
  color:var(--primary-color);
  font-size:18px;
}

.container-for-services {
    padding-top:30px;
    padding-bottom:30px;
    height:130px;
    background-color: var(--secondary-color);
}


.title-for-services{
  text-align: center;
  color:white;
}

.button{
  border-radius: 6px;
  cursor:pointer;
  font-size:15px;
}

.background-secondary {
   background-color: var(--background-secondary);
}

.space-between-text{
   margin-bottom: 1rem;
}

@media (min-width: 1260px){
.container {
    max-width: 1260px !important;
    padding-left: 20px  !important;
    padding-right: 20px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    }
}


@media (max-width: 480px) {
.container {
   padding-left: 20px  !important;
    padding-right: 20px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 420px !important;
    }
}
@media (min-width: 481px) and (max-width: 992px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-right: auto !important;
    margin-left: auto  !important;
    max-width: 960px  !important;

  }
}
