<div class="carousel-container">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="1.jpg" class="d-block w-100" alt="...">
        <div class="info-text">
          <div class="container">
            <h3 class="info-title">Immigration</h3>
            <span routerLink= "/immigration" class="info-button background-banner"> BUTTON</span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="visually-hidden">Next</span>
    </button>
  </div>

   <div class="contact-form text-center ">
     <div class="form-titel">
       <p>CONTACT US</p>
     </div>

     <div class="form-option">
       <div class="button1 background-banner">CALL TO US</div>
       <div class="button2">WRITE TO US</div>
     </div>
   </div>

</div>

