<div class="carousel-container">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="4000">
        <a routerLink="/immigration">
          <img src="assets/image/immigration.jpg" class="d-block w-100" alt="...">
          <div class="info-container">
            <div class="container">
              <h3 class="info-title">Immigration</h3>
              <span routerLink="/immigration" class="info-button background-banner"> BUTTON</span>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/">
          <img src="assets/image/homesearch.jpg" class="d-block w-100" alt="...">
          <div class="info-container">
            <div class="container">
              <h3 class="info-title">Home Search</h3>
              <span routerLink="/" class="info-button background-banner"> BUTTON</span>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/">
          <img src="assets/image/settlein.jpg" class="d-block w-100" alt="...">
          <div class="info-container">
            <div class="container">
              <h3 class="info-title">Settle-in</h3>
              <span routerLink="/immigration" class="info-button background-banner"> BUTTON</span>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/">
          <img src="assets/image/familysupport.jpg" class="d-block w-100" alt="...">
          <div class="info-container">
            <div class="container">
              <h3 class="info-title">Family support</h3>
              <span routerLink="/immigration" class="info-button background-banner"> BUTTON</span>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/">
          <img src="assets/image/culture.jpg" class="d-block w-100" alt="...">
          <div class="info-container">
            <div class="container">
              <h3 class="info-title">Cultural support</h3>
              <span routerLink="/" class="info-button background-banner"> BUTTON</span>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/">
          <img src="assets/image/individual.jpg" class="d-block w-100" alt="...">
          <div class="info-container">
            <div class="container">
              <h3 class="info-title">Individual needs</h3>
              <span routerLink="/" class="info-button background-banner"> BUTTON</span>
            </div>
          </div>
        </a>
      </div>


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="contact-form text-center ">
    <div class="form-titel">
      <p>CONTACT US</p>
    </div>

    <div class="form-option">
      <a class="button1 background-banner" href="tel:+4917630430423">CALL TO US</a>
      <a class="button2" href="#contact-us">WRITE TO US</a>
    </div>
  </div>

</div>

