<div class="carousel-container">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="4000">
        <a routerLink="/immigration">
          <img src="assets/image/immigration.jpg" class="d-block w-100" alt="...">
          <div class="info-position">
            <div class="info-container">
              <div class="container">
                <h3 class="info-title">{{ 'IMMIGRATION' | translate }}</h3>
                <span routerLink="/immigration" class="info-button background-banner"> {{ 'BUTTON_READ_MORE' | translate }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/homesearch">
          <img src="assets/image/homesearch.jpg" class="d-block w-100" alt="...">
          <div class="info-position">
            <div class="info-container">
              <div class="container">
                <h3 class="info-title"> {{ 'HOME_SEARCH' | translate }}</h3>
                <span routerLink="/homesearch" class="info-button background-banner"> {{ 'BUTTON_READ_MORE' | translate }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/settle-in">
          <img src="assets/image/settlein.jpg" class="d-block w-100" alt="...">
          <div class="info-position">
            <div class="info-container">
              <div class="container">
                <h3 class="info-title">{{ 'SETTLING_IN' | translate }}</h3>
                <span routerLink="/settle-in" class="info-button background-banner"> {{ 'BUTTON_READ_MORE' | translate }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/family-support">
          <img src="assets/image/familysupport.jpg" class="d-block w-100" alt="...">
          <div class="info-position">
            <div class="info-container">
              <div class="container">
                <h3 class="info-title">{{ 'FAMILY_SUPPORT' | translate }}</h3>
                <span routerLink="/family-support" class="info-button background-banner"> {{ 'BUTTON_READ_MORE' | translate }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="intercultural-service">
          <img src="assets/image/culturesupport.jpg" class="d-block w-100" alt="...">
          <div class="info-position">
            <div class="info-container">
              <div class="container">
                <h3 class="info-title">{{ 'CULTURAL_SUPPORT' | translate }}</h3>
                <span routerLink="/intercultural-service" class="info-button background-banner"> {{ 'BUTTON_READ_MORE' | translate }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/individual-needs">
          <img src="assets/image/individual.jpg" class="d-block w-100" alt="...">
          <div class="info-position">
            <div class="info-container">
              <div class="container">
                <h3 class="info-title">{{ 'INDIVIDUAL_NEEDS' | translate }}</h3>
                <span routerLink="/individual-needs" class="info-button background-banner"> {{ 'BUTTON_READ_MORE' | translate }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="contact-form text-center ">
    <div class="form-titel">
      <div>{{ 'CONTACT_US_FORM' | translate }}</div>
    </div>

    <div class="form-option">
      <a class="button1 " href="tel:+4917630430423">{{ 'CALL_US' | translate }}</a>
      <a class="button2" href="#contact-us">{{ 'WRITE_US' | translate }}</a>
    </div>
  </div>

</div>

