
<div class=" container-for-services background-banner">
  <h2 class="title-for-services">{{'CULTURAL_SUPPORT' | translate }}</h2>
  <p class="title-for-services">{{'CULTURAL_SUPPORT_TITLE' | translate }} </p>
</div>

<div class="container">

  <p class="marked">{{'CULTURAL_SUPPORT_TITLE_1' | translate }}</p>
  <p>{{'CULTURAL_SUPPORT_DESC_1' | translate }}</p>
  <p>{{'CULTURAL_SUPPORT_DESC_2' | translate }}</p>

  <p class="marked">{{'CULTURAL_SUPPORT_TITLE_2' | translate }}</p>
  <p>{{'CULTURAL_SUPPORT_DESC_3' | translate }}</p>
  <p>{{'CULTURAL_SUPPORT_DESC_4' | translate }}</p>
</div>
