.marked{
  text-align:center;
  font-size: 20px;
}

.info-container{
  padding-top:var(--pd30);
  padding-bottom: var(--pd30);
}

.our-vision-container {
  padding-top:var(--pd30);
}

.item {
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: flex-start;

}



@media (max-width: 480px) {
.item {
    flex-direction: column;
    gap: 30px;
   }
}


@media (min-width: 481px) and (max-width: 992px) {
.item {
    flex-direction: column;
    gap: 30px;
   }
}
