.marked{
  text-align:center;
  font-size: 20px;
}

.info-container{
  padding-top:27px;
  padding-bottom: 15px;
}


hr {
  width: 30%;
  margin:auto;
  background-color: var(--secondary-color);
  height: 2px;
  border: none;
}

.our-vision-container{
 padding-bottom: var(--pd30);

}

.item {
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: flex-start;

}



@media (max-width: 480px) {
.item {
    flex-direction: column;
    gap: 30px;
   }
}


@media (min-width: 481px) and (max-width: 992px) {
.item {
    flex-direction: column;
    gap: 30px;
   }
}
