.marked{
  text-align:center;
  font-size: 20px;
}

.advantages-section-container{
  padding-top: var(--pd60);

}


hr {
  width: 30%;
  margin:auto;
  background-color: var(--secondary-color);
  height: 2px;
  border: none;
}

.advantages-section{
  padding-bottom: var(--pd30);
}

.info-container{
  padding-top: 10px;
  padding-bottom: 10px;
}

.hr-benefits{
  padding-top:var(--pd30);
  padding-bottom:var(--pd30);
}

.item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;

}

.reason_title{
  padding-bottom: var(--pd30);

}
