<div class="container-for-services">
<h2 class=" title-for-services">{{ 'ADVANTAGES' | translate }}</h2>
</div>

<div class="container advantages-section-container ">
  <div class=" advantages-section">
    <p class="marked">{{ 'ADVANTAGES_1' | translate }}</p>

    <div class="">
      <div>{{ 'ADVANTAGES_INFO_1' | translate }}</div>
    </div>
  </div>
  <div class=" advantages-section">
    <p class="marked">{{ 'ADVANTAGES_2' | translate }}</p>
    <div class="">
      <div>{{ 'ADVANTAGES_INFO_2' | translate }}</div>
    </div>

  </div>

  <div class=" advantages-section">
    <p class="marked">{{ 'ADVANTAGES_3' | translate }}</p>
    <div class="">
      <div>{{ 'ADVANTAGES_INFO_3' | translate }}</div>
    </div>
  </div>

  <div class=" advantages-section">
    <p class="marked">{{ 'ADVANTAGES_4' | translate }}</p>
    <div class="">
      <div>{{ 'ADVANTAGES_INFO_4' | translate }}</div>
    </div>
  </div>

  <div class=" advantages-section">
    <p class="marked">{{ 'ADVANTAGES_5' | translate }}</p>
    <div class="">
      <p>{{ 'ADVANTAGES_INFO_5' | translate }}</p>
      <div>{{ 'ADVANTAGES_INFO_5_1' | translate }}</div>

    </div>
  </div>

  <div class=" advantages-section">
    <p class="marked">{{ 'ADVANTAGES_6' | translate }}</p>
    <div class="info-container">
      <p>{{ 'ADVANTAGES_INFO_5' | translate }}</p>
      <div>{{ 'ADVANTAGES_INFO_5_1' | translate }}</div>
    </div>
  </div>

</div>

<div>
  <div class="container">
  <div class="marked reason_title">{{ 'REASON_TITLE' | translate }}</div>
  <p>{{ 'REASON_INFO' | translate }}</p>
    </div>
  <app-company></app-company>
</div>

<div class="hr-benefits">

  <app-benefits-for-hr-section></app-benefits-for-hr-section>
</div>
