
.container{
  padding-top: var(--pd30);
  padding-bottom: var(--pd30);
}

.icon-wrapper i {
  font-size: 3rem;
  color: var(--primary-color);
}

.title{
  color: var(--primary-color);
  font-size:20px;
  padding-bottom:10px;
}

.description{
  text-align: left;
}
.stat-item{
  padding-right:20px;
}

@media (max-width: 1000px) {
.icon-wrapper i {
  font-size: 2.5rem;
}
}

