
.container{
  padding-top: var(--pd30);
  padding-bottom: var(--pd30);
  text-align: left;
}

.icon-wrapper{
  padding-bottom:10px;
}

.icon-wrapper i {
  font-size: 3rem;
  color: var(--secondary-color);
}


.advantage{
  background-color: #FCFDFD;
}

h6{
  color: var(--primary-color);
  font-size:20px;
  padding-bottom:10px;
}

@media (max-width: 1000px) {
.icon-wrapper i {
  font-size: 2.5rem;
}
}

